<?xml version="1.0" ?>
<!-- credit to: https://github.com/erlerobot/gym-gazebo/blob/master/gym_gazebo/envs/assets/models/Maze_ql_1/model.config -->
<model>
    <name>Maze_ql_1</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>